/*====== Style-Guide Styles ======*/
.nav-option .style-guide {
    /* Media */
    cursor: pointer;
    /* Colors */
    background-color: var(--bg-color-5);
    color: var(--text-color-6);
    /* Font */
    /* Padding */
    /* Position */
    /* Dimensions */
}
